<h2>Owners List <span>
    <button class="btn btn-success" (click)="addOwner()">AddNew</button>
    <button class="btn btn-primary" (click)="getOwners()">Refresh</button>
    <button class="btn btn-danger" (click)="deleteOwner(5)">Delete owner 5</button></span>
</h2>
<div class="container">
    <div class="row">

        <div class="col-xs-4" style="border: 1px solid green;">
            <div class="list-group">
                <div *ngFor="let owner of owners; let i = index">
                    <a
                    class="list-group-item clearfix"
                    [routerLink]="['/owners', owner.id]">
                    <div class="pull-left">
                        <h4 class="list-goup-item-heading">Name: {{owner.name}} {{owner.surname}}</h4>
                        <p class="list-goup-item-text">Email: {{owner.email}}</p>
                        <p class="list-goup-item-text">Age: {{owner.age}}</p>
                    </div>
                    <span class="pull-right">
                        <img src="https://icons-for-free.com/download-icon-man+person+profile+user+worker+icon-1320190557331309792_512.png"
                             class="img-responsive"
                             style="max-height: 100px;">
                    </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
